[Unit]
Description=Simple service with API written in Go
After=network.target

[Service]
Type=simple
ExecStart=/home/vagrant/myGo2HWmoms_master
PIDFile=/var/run/simple

[Install]
WantedBy=default.target
